body {
  margin-left: 2rem;
  color: whitesmoke;
  background-color: black;
}

h2{
  text-transform: uppercase;
}
p{
  text-transform: uppercase;
}
span{
  text-transform: lowercase;
}
small{
  font-size: 0.7rem;
}
